@using DataWebApplication.Models.ViewModels

@model PersonLanguageViewModel

<div>@ViewBag.Id</div>

<div id="home_header">Language Management</div>
<div class="forms">
    <div class="form1">
        <div class="form-header">Add Language</div>
        <form asp-action="AddLanguage" method="post" asp-route-id="@ViewBag.Id">
            <div class="form-group">
                <input asp-for="Language.Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="submit_button" />
            </div>
        </form>
    </div>

</div>

<div id="links">
    <div>@Html.ActionLink("People", "Person", "Person")</div>
    <div>@Html.ActionLink("Countries", "Index", "Country")</div>
</div>


<div id="people_list">Languages for person with</div>
<div id="people_list">Id: @ViewBag.Id</div>
<div id="people_list">Name: @ViewBag.Name</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Language)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Person.PersonLanguages)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Language.Name)</td>
            <td>
                @using (Html.BeginForm("Delete", "PersonLanguage", 
                     new { personId = item.Person.PersonId, 
                         languageId = item.Language.LanguageId }, FormMethod.Post))
                {
                    <Button id="delete_button">DELETE</Button>
                }
            </td>
        </tr>
        
    }

        </tbody>
    </table>
